* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  width: 100%;
  height: 70px;
  background-color: #00008b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .logo {
  background-image: url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 65px;
  width: 217px;
  position: absolute;
  left: 50px;
}
nav .links {
  width: 575px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .links a {
  margin: auto;
  font-size: 20px;
  margin-right: 60px;
  color: white;
  text-decoration: none;
}
nav .links button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin-right: 60px;
  color: white;
  background-color: blue;
  cursor: pointer;
}

.index {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.index #form {
  width: 100%;
  height: 100%;
  background-color: #8db1de;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.index #form .containerOne {
  width: 600px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
.index #form .containerOne label {
  font-size: 45px;
  margin-top: 20px;
}
.index #form .containerOne #cityZip {
  width: 300px;
  height: 20px;
}
.index #form .containerOne #submit {
  width: 100px;
  height: 30px;
  margin-top: 20px;
}
.index #form #containerTwo {
  width: 800px;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border: solid 2px black;
  margin-top: 100px;
}
.index #form #containerTwo #wInfo {
  width: 400px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.index #form #containerTwo #wData {
  margin-top: 30px;
  font-size: 30px;
  display: none;
}
.index #form #containerTwo #wTime {
  display: none;
}
.index #form #containerTwo #wImg {
  display: none;
}
.index #form #containerTwo #exInfo {
  width: 800px;
  height: 100%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
}
.index #form #containerTwo #exInfo #wMore {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
}
.index #form #containerTwo #exInfo #wMore p {
  margin-left: 30px;
}
.index #form #containerTwo #exInfo #wHumid {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.index #form #containerTwo #exInfo #wHumid p {
  margin-left: 30px;
}
.index #form #containerTwo #exInfo #wWind {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.index #form #containerTwo #exInfo #wWind p {
  margin-left: 30px;
}